[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/splice.vim"]
	path = .vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule ".vim/plugin/tslime.vim"]
	path = .vim/plugin/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-rabl"]
	path = .vim/bundle/vim-rabl
	url = https://github.com/yaymukund/vim-rabl.git
[submodule ".vim/bundle/paredit.vim"]
	path = .vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
