[user]
	name = Trevor Little
	email = trevor.little@starfieldtms.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        l  = log --pretty=format:'%C(red)%h%C(reset) %C(blue)%aN%C(reset): %s %C(bold cyan)%d%Creset' --date-order --graph
	st = status --short
        ci = commit -va
        di = diff
        hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s' --date-order
        vim  = grep -Ovim
