# First ignore everything...
*

# Then make esceptions for the stuff we really to want to track.
!bin
!bin/*
!.vim
# no way to include everything recursively so far as I can tell =(
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*
!.vim/*/*/*/*/*/*
!.vim/*/*/*/*/*/*/*
!.bashrc
!.zshrc
!.zshenv
!.gitconfig
!.vimrc
!.screenrc*
!.gitignore
!.gitmodules

# But DO ignore the netrwhist since it will keep changing
.vim/.netrwhist

# and DO ignore the Mac-generated .DS_Store file in the bin directory
bin/.DS_Store
